hr{
    width: 100%;
}

#We{ 
    font-size: 150%;
    
    
}

#all{
    display:inline-block;
    text-align: left;
    padding-left: 5cm;
    padding-right: 5cm;
    font-size: 110%;
    
}

.end_of_a{
    position: relative;
    top: 0.3cm;
}